// .page {
//     background-color: var(--body-bg);
// }

// .ddd {
//     animation-duration: 1s;
//     // animation-delay: 2s;
//     animation-iteration-count: infinite;
//     background-color: #f1f1f1;
// }

main {
  min-height: calc(100vh - 146px);
}

.contact-page {
  padding-top: 120px;
}

.map-container {
  margin-bottom: 20px;
}

.contact {
  padding-bottom: calc(60 / 1440 * 100em);

  .contact-form {
    .grid-container-message {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: calc(20 / 1440 * 100em);

      .input-left,
      .input-right {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: calc(10 / 1440 * 100em);

          &.important {
            &::after {
              content: "*";
              font-size: 26px;
              color: #f00;
            }
          }
        }

        input[type=text] {
          margin-bottom: calc(20 / 1440 * 100em);
          display: block;
          width: 100%;
          height: 40px;
          border-radius: 2px;
          border: 1px solid #ddd;

          outline: none;

          padding: 10px;
          box-sizing: border-box;
          font-size: 14px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        textarea {
          margin-bottom: calc(20 / 1440 * 100em);
          display: block;
          width: 100%;
          border-radius: 2px;
          border: 1px solid #ddd;

          outline: none;

          padding: 10px;
          box-sizing: border-box;
          font-size: 14px;

          &:last-child {
            margin-bottom: 0;
          }
        }

      }
    }

    .submit-message {
      background-color: rgba(71, 69, 84, 0.7);
      padding: 10px 30px;
      width: 300px;
      border-radius: 4px;
      font-weight: 700;
      text-decoration: none;
      z-index: 1;
      text-transform: uppercase;
      text-align: center;
      font-size: 16px;
      margin: 20px auto 0;
      
      cursor: pointer;
      outline: none;
      
      display: block;
      color: #fefefe;

      transition: all 0.3s ease;

      &:hover {
        background-color: rgba(71, 69, 84, 0.3);
        color: rgba(71, 69, 84, 0.7);
      }
      
    }
  }
}

.oops {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: calc(100vh - 146px);

  h1 {
    color: rgba(71, 69, 84, 1);
    font-weight: bold;
    font-size: calc(200 / 1440 *100em);
    border-bottom: 4px solid rgba(71, 69, 84, 1);
  }
  h3 {
    font-size: calc(40 / 1440 *100em);
    color: rgba(71, 69, 84, .7);
    margin-top: calc(30 / 1440 * 100rem);
  }
  .back-link {
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    margin-top: calc(30 / 1440 * 100rem);
    color: rgba(71, 69, 84, 1);
    transition: all 0.3s ease;
    border: 1px dashed rgba(71, 69, 84, 1);
    padding: 10px;
    box-sizing: border-box;
    &:hover {
      color: rgba(71, 69, 84, .7);
    }
  }
}