header {
    grid-area: header;
    background-color: var(--body-bg);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .13);
    position: fixed;
    width: 100%;
    z-index: 10;
    // display: none;

    .container {
        padding: 10px 0;
        display: flex;
        align-items: center;

        .logo {
            margin-right: auto;
            display: block;
            height: 60px;
            width: 60px;

            img {
                display: block;
                width: 100%;
            }
        }

        nav {
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    margin-right: 1rem;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

nav {
    // padding: 30px;

    a {
        font-weight: bold;
        color: #2c3e50;
        font-size: 14px;
        text-decoration: none;
        text-transform: capitalize;

        &.router-link-exact-active {
            // color: #42b983;
            color: #CC8FC2;
        }
    }
}