header {
    grid-area: header;
    display: none;

    // background-color: rgba(255, 0, 0, .3);
    .container {
        padding: 8px 0;
        display: flex;
        align-items: center;
        
        .logo {
            margin-right: auto;
            display: block;
            height: 80px;
            width: 80px;

            img {
                display: block;
                width: 100%;
            }
        }

        nav {
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li {
                    margin-right: 8px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}