footer {
    background-color: #474554;
    color: aliceblue;
    padding: 1.77rem 0;

    .copy {
        font-size: 10px;
        text-align: right;
        // margin-top: auto;
    }
    .slogan {
        font-size: 12px;
        text-align: right;
        margin-bottom: auto;
        
    }

    .container {
        // border: 1px solid #000;
        display: flex;
        align-content: center;
        justify-content: space-between;
        // align-items: center;
        div:nth-child(1) {
            width: 250px;
            display: flex;
            flex-direction: column;
        }
        div:nth-child(2) {
            border-right: 1px solid rgba(254, 254, 254, .3);
            // border-left: 1px solid rgba(254, 254, 254, .3);
            padding: 0 40px;
            width: 600px;
            // margin-right: auto;
            // width: auto;
        }
        div:nth-child(3) {
            // border: 1px solid #000;
            // align-items: flex-end;
            // width: 300px;
        }
    }

    .footer-navigation {
        display: flex;
        justify-content: space-around;
        ul {
            list-style: none;
            li {
                padding: 0;
            }
            a {
                display: block;
                color: #fefefe;
                text-decoration: none;
                padding: 0 10px;
                font-size: 13px;
                transition: all 0.3s ease;
                &:hover {
                    color: rgba(254, 254, 254, .7);
                }
            }
        }
    }
    .address {
        list-style: none;
        li {
            padding: 0;
            font-size: 13px;
        }
    }
}